.inputArea {
  flex-direction: column;
  border-radius: 4px;
  padding: 16px;
  margin: 16px;
  width: 30vw;
  border: 1px solid var(--main-color1);
}

.inputArea>button {
  margin: 0 12px;
  padding: 8px 20px;
  background-color: var(--main-color1);
  color: white;
  border-radius: 4px;
  border: 0;
}

.inputHeader {
  display: flex;
  font-size: 16px;
  justify-content: center;
}

.inputHeader>label {
  width: calc((100% - 100px) /3);
  border: 1px solid;
  padding: 12px;
  text-align: center;
  cursor: pointer;
}

.inputHeader>input {
  opacity: 0;
  display: none;
  left: 0;
}

.inputHeader>input:checked+label {
  background-color: var(--main-color1);
  color: white;
}

.inputBody {
  padding: 12px;
}

.inputBody>label,
input {
  font-size: 16px;
  padding: 6px 12px;
  margin: 8px 0px;
  border-radius: 4px;
}

.inputBody>input {
  width: calc(100% - 28px);
  border: 1px solid;

}

.inputBody>select {
  font-size: 16px;
  width: 100%;
  border: 1px solid;
  padding: 6px 12px;
  margin: 8px 0px;
  border-radius: 4px;
}

.outputArea {
  width: 50vw;
  margin: 0 20px;
}

.outputHeader {
  padding: 16px;
  margin: 16px 0;
  background-color: var(--main-color1);
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.outputHeader>p {
  padding-bottom: 8px;
  margin: 0;
}

.outputHeader>.valuesToggle {
  text-align: right;
}

.valuesToggle>label {
  cursor: pointer;
}

.assetValueTable {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .inputArea {
    width: calc(100% - 66px);
  }

  .outputArea,
  table {
    width: calc(100% - 40px);
  }
}