table {
  /* background-color: var(--main-color3); */
  width: 1000px;
}

table{
  border-collapse: collapse;
}

table > thead > tr > th {
  background-color: var(--main-color2);
  color: var(--main-color4);
}
table > thead > tr > th,
table > tbody > tr > td {
  width:100px;
  table-layout: fixed;
  text-align: center;
  border : 1px solid var(--main-color2);
}
.fixedEdge{
  position: sticky;
  z-index:30;
  top:77px;
  left: 0;
}
.fixedColumns{
  position: sticky;
  z-index:20;
  /* top:77px; */
}
.fixedRows{
  position: sticky;
  z-index:10;
  left:0;
  background-color: var(--main-color4);
}
table > :not(caption) > * > * {
  padding: 0.5rem;
  border-bottom-width:1px;
}

@media screen and (max-width: 768px) {
  .fixedEdge{
    top:68;
  }
  .fixedColumns{
    position:sticky;
    top:68;
  }
}