@import "../../../styles.scss";


.content {
    background-color: $main-color3;
    width: 100%;
}

.title {
    color: $main-color6;
    font-size: 26px;
    font-weight: 600;
    padding: 20px;
}

.titleButton {
    cursor: pointer;
    padding-right: 10px;
}

.container {
    background-color: $main-color3;
    color: $main-color6;
    padding: 0 10px 10px 10px;
}