@import "../../../styles.scss";

.card {
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    background-color: $main-color2;
}

.cardHeader {
    // background-color: $main-color3;
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
}

.cardBody {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

// .bodyItem {
//     background-color: red;
// }