.screenerTable {
  font-size: 18px;
  margin: 8px;
  width: 50%;
}
.filter-box .button {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .screenerTable {
    width: calc(100% - 16px);
  }
}