@import "../../../styles.scss";


.calcTitle {
  background-color: $main-color2;
  color: $main-color6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
}

.questionIcon {
  width: 20px;
  height: 20px;
  padding: 5px;
}

.calculatorArea{
  display: flex;
}

.inputArea {
  background-color: $main-color2;
  color: $main-color6;
  width: 50%;
}

.inputGroup{
  background-color: $main-color3;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
.inputLabel {
  font-size: 16px;
  color: $main-color6;
  padding-bottom: 8px;
}
.input {
  background-color: $main-color2;
  color: $main-color6;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 6px;
}

.tooltip {
  display: none;
}

:hover > .tooltip {
  display: block;
  background-color: $main-color4;
  position: absolute;
}

.chartArea{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chartIcon {
  padding: 20px;
  width: 150px;
  height: 150px;
  color: $main-color5;
}