@import "../../../styles.scss";

.calculate {
  background-color: $main-color2;
  color: $main-color6;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  margin-top: 10px;
  padding: 10px;
  letter-spacing: 10px;
}