html {
  font-size: 10px;
}

:root {
  /* main */
  --main-color1: #102027;
  /* hover */
  --main-color2: #37473f;
  /*  */
  --main-color3: #62727b;
  /* back, bar */
  /* --main-color4: #d6d6d9; */
  --main-color4: #ffffff;
  /* --main-color5: #ced4da; */
  --main-color5: #dfdfdf;
  /* logo */
  --logo-color: var(--main-color4);
}

.App {
  text-align: center;
}

.main-page {
  position: relative;
  top: 100px;
  font-size: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.main-page-vertical {
  position: relative;
  flex-direction: column;
}

.main-page a {
  color: #121212;
}

.button {
  margin: 0 12px;
  padding: 8px 20px;
  font-size: 1.6rem;
  background-color: var(--main-color1);
  color: white;
  border-radius: 4px;
  border: 0;
}