html {
  font-size: 10px;
}

:root {
  /* main */
  --main-color1: #102027;
  --main-color1: #131722;
  /* hover */
  --main-color2: #37473f;
  /*  */
  --main-color3: #62727b;
  /* back, bar */
  /* --main-color4: #d6d6d9; */
  --main-color4: #ffffff;
  /* --main-color5: #ced4da; */
  --main-color5: #dfdfdf;
  /* logo */
  --logo-color: var(--main-color4);
}

.App {
  text-align: center;
}

.main-page {
  position: relative;
  top: 78px;
  height: calc(100vh - 100px);
  font-size: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.main-page-vertical {
  position: relative;
  flex-direction: column;
}

.main-page a {
  color: #121212;
}

.container {
  display: flex;
  /* border: 1px solid var(--main-color1); */
  justify-content: space-around;
}

.button {
  margin: 0 12px;
  padding: 8px 20px;
  font-size: 1.6rem;
  background-color: var(--main-color1);
  color: white;
  border-radius: 4px;
  border: 0;
}

/* Card Components */
.card {
  display: block;
  border: solid var(--main-color5);
  border-width: 1px 1px 0px 1px;
  margin: 20px;
}

.card-header {
  border: solid var(--main-color5);
  border-width: 0 0 1px;
  padding: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
}

.card-body {
  border: 1px solid var(--main-color5);
  /* background-color: var(--main-color5); */
}

.list-group {
  padding: 0;
  margin: 0;
  /* border: 1px solid var(--main-color5);  */
}

.list-group-item {
  border: solid var(--main-color5);
  border-width: 0 0 1px;
  list-style: none;
  padding: 6px;
}