@import "../styles.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  border: 1px solid $main-color5;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: $main-color2;
  font-weight: 600;
  font-size: 20px;
  padding: 8px 12px;
  width: calc(100% - 24px);
  height: 40px;
  z-index: 9999;
}

.header a {
  text-decoration: none;
  color: $main-color6;
  cursor: pointer;
  padding: 0 0 0 4px;
}

.left {
  // background-color: red;
  width: calc(100%/3);
}

.center {
  // background-color: blue;
  width: calc(100%/3);
}

.right {
  // background-color: aqua;
  width: calc(100%/3);
}

.right a {
  // background-color: red;
  float: right;
}

.headerLogo {
  font-size: 30px;
  letter-spacing: -4px;
}

// 검색창
// 검색창 INPUT
.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: calc(100%);
  background-color: $main-color3;
  border-radius: 100px;
}

.searchInput {
  background-color: $main-color3;
  border: 0;
  margin-right: 10px;
  padding: 0;
  color: $main-color6;
  font-size: 15px;
  font-weight: 400;
  width: calc(100% - 60px);
  height: 24px;
}

.searchBoxXMark {
  color: $main-color6;
  height: 20px;
}


.searchItems {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: calc(100vw/3 - 22px);
  border: 0;
  border-radius: 10px;
  top: 56px;
  left: calc(100vw/3);
  padding: 10px;
  margin: 0px;
  background-color: $main-color2;
  border: 1px solid $main-color5;
}

.searchItem {
  cursor: pointer;
  color: $main-color6;
}

// Active SearchBar
.searchItems {
  font-size: 14px;
  padding: 10px;
}

.searchItem>div {
  display: block;
  padding: 5px;
  // width: 100%;
}

.searchItemFocus {
  display: block;
  background-color: $main-color3;
  border-radius: 5px;
  width: calc(100% - 10px);
}

// Mobile

.headerM {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  border: 0;
  background-color: $main-color2;
  color: $main-color6;
  font-weight: 600;
  font-size: 20px;
  width: 100%;
  height: 56px;
  z-index: 9999;
}

.headerM a {
  text-decoration: none;
  color: $main-color6;
}

.leftM {
  width: 56px;
}

.centerM {
  width: calc(100%);
  text-align: center;
  font-size: 30px;
}

.rightM {
  width: 56px;
  text-align: end;
}

.buttonM {
  padding: 12px;
  width: 32px;
  height: 28px;
}

.searchBoxM {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  width: calc(100% - 56px - 56px);
  height: 40px;
  background-color: $main-color3;
  border-radius: 100px;
}

.searchInputM {
  background-color: $main-color3;
  border: 0;
  margin-right: 10px;
  padding: 0;
  color: $main-color6;
  font-size: 15px;
  font-weight: 400;
  width: calc(100% - 60px);
  height: 24px;
}

.searchItemsM{
  display: flex;
  position: fixed;
  flex-direction: column;
  width: calc(100% - 56px - 56px);
  border: 0;
  border-radius: 10px;
  top: 56px;
  padding: 10px;
  margin: 0px;
  background-color: $main-color2;
  border: 1px solid $main-color5;
  
}

.searchItemM {
  cursor: pointer;
  padding: 4px;
  font-size: 18px;
  color: $main-color6;
}

.menuBack {
  position: fixed;
  width: 100vw;
  height: 1000%;
  z-index: 8000;
  top: 56px;
  background-color: white;
  opacity: 0.3;
}