@import "../styles.scss";

.top {
  position: fixed;
  width: 100%;
  height: 57px;
  z-index: 9999;
}

.left {
  position: fixed;
  top: 57px;
  width: calc(100%/3);
  height: calc(100vh - 57px);
  margin-top: 10px;
}

.center {
  position: relative;
  top: 57px;
  left: calc(100%/3);
  width: calc(100%/3);
  float: left;
}

.right {
  position: fixed;
  top: 57px;
  float: right;
  left: calc(200%/3);
  width: calc(100%/3);
}

.leftT {
  top: 57px;
  height: calc(100vh - 57px);
  position: fixed;
  width: calc(100%/4);
}

.centerT {
  top: 57px;
  position: relative;
  width: calc(100%/2);
  left: calc(100%/4);
  float: left;
}

.rightT {
  position: fixed;
  top: 57px;
  left: calc(300%/4);
  width: calc(100%/4);
}

.leftM {
  display: none;
}

.centerM {
  position: relative;
  top: 57px;
}

.rightM {
  display: none;
}
