@import "../styles.scss";


.menu {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 15px 15px 15px 20px;
  width: calc(60%);
  font-size: 17px;
  font-weight: 500;
  color: $main-color6;
}

.menuIcon {
  // color: $main-color6;
  padding: 0px 10px 0px 0px;
  height: 25px;
  width: 25px;
}

.footer {
  position: absolute;
  color: $main-color5;
  font-size: 12px;
  left: 10px;
  bottom: 10px;
}

.menuM {
  display: flex;
  background-color: $main-color2;
  flex-direction: column;
  border-top: 1px solid $main-color3;
  position: fixed;
  top: 56px;
  width: 100%;
  z-index: 9000;
}

.authMenu {
  padding: 16px;
}

.authMenu a {
  text-decoration: none;
  color: $main-color6;
  font-weight: 400;
}