.filter-box {
  width: 340px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
}

.filterItem {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 0.5rem;
}

.slider {
  position: relative;
  width: 300px;
  height: 80px;
}

.slider-box {
  display: flex;
  padding: 2rem 0;
  flex-direction: row;
  justify-content: space-around;
}

.slider__left-value,
.slider__right-value {
  position: relative;
  width: 100px;
}

.slider__track,
.slider__range {
  position: absolute;
  border-radius: 0.5rem;
  width: 300px;
  height: 1rem;
}

.slider__track {
  background-color: var(--main-color5);
  z-index: 1;
}

.slider__range {
  background-color: var(--main-color3);
  z-index: 2;
}

.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  padding: 0;
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 300px;
  outline: none;
}

.thumb--zindex-3 {
  z-index: 3;
}

.thumb--zindex-4 {
  z-index: 4;
}

.thumb::-webkit-slider-thumb {
  padding: 5px;
  background-color: var(--main-color2);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-top: -0.5rem;
  pointer-events: all;
  position: relative;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .filter-box {
    width: calc(100% - 20px);
  }  
}