.navbar {
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color1);
  padding: 8px 12px;
  font-weight: 700;
  font-size: 20px;
  position: fixed;
  z-index: 9999;
  width: calc(100% - 24px);
  height: 56px;
}

.navbar body {
  background-color: var(--main-color4);
}

.navbar a {
  text-decoration: none;
  color: var(--main-color4);
  padding: 8px 12px;
}

.navbar_logo {
  font-size: 30px;
  font-weight: 500;
}


/* 메뉴 */
.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}


.navbar_end {
  display: flex;
  align-self: flex-start;
}

.navbar_user {
  list-style: none;
  padding: 8px 12px;
  display: flex;
  margin: 0;
}

.navbar_back {
  position: fixed;
  width: 100vw;
  height: 100%;
  z-index: 8000;
  top: 0px;
  background-color: white;
  opacity: 0.7;
}

/* 검색어 입력 + 검색 버튼 */
.navbar .search_box {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid var(--main-color3)
}

/* 검색어 입력 INPUT */
.navbar .search_input {
  width: calc(100% - 60px);
  border: none;
  outline: none;
}

/* 검색 버튼 */
.search_box .search_btn:hover {
  cursor: pointer;
}

/* 연관 검색어 */
.navbar .search_items {
  width: 100%;
  padding: 10px;
  margin: 0;
  /* display: flex; */
  display: none;
  flex-direction: column;
  border-radius: 40px;
  background-color: var(--main-color4);
}

.search_items .search_item_focus {
  display: flex;
  font-size: 15px;
  color: white;
  background-color: black;
}

.search_items .search_item {
  display: flex;
  font-size: 15px;
  color: black;
}

/* Active SearchBar */
.search_input:focus~.search_items {
  display: flex;
}

.search_items:hover {
  display: flex;
}

.navbar_toggle,
.search_toggle {
  display: none;
}


/* 반응형 웹 */
@media screen and (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .navbar_logo {
    padding: 8px;
  }

  .navbar_menu {
    flex-direction: column;
    width: 100%;
  }

  .navbar_menu hr {
    margin: 1px;
    background-color: var(--main-color4);
    border: 0px;
    height: 1px;
  }

  .navbar_toggle {
    display: block;
    position: absolute;
    padding: 13px;
    left: 8px;
    font-size: 30px;
    color: var(--logo-color)
  }

  .search_toggle {
    display: block;
    position: absolute;
    padding: 13px;
    right: 8px;
    font-size: 30px;
    color: var(--logo-color)
  }

  .navbar .search_box {
    position: absolute;
    top: 0;
    margin: 13px;
    width: calc(100vw - 64px - 64px);
  }
}