.navbar body {
  background-color: var(--main-color4);
}

.navbar a {
  text-decoration: none;
  color: var(--main-color4);
}

.navbar {
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: center;
  /* align-items: flex-start; */
  background-color: var(--main-color1);
  padding: 8px 12px;
  font-weight: 700;
  font-size: 20px;
  position: fixed;
  z-index: 9999;
  width: calc(100% - 24px);
  height: 60px;
}

.navbar_logo {
  font-size: 28px;
  font-weight: 500;
}

.navbar_logo i {
  font-size: 28px;
  color: var(--logo-color);
  padding: 8px;
}

.navbar_logo a {
  margin-left: 8px;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu  li {
  padding: 8px 12px;
}

.navbar_menu li:hover {
  color: var(--main-color2);
  border-radius: 4px;
}

.navbar_user {
  list-style: none;
  padding: 8px 12px;
  display: flex;
  margin: 0;
}

.navbar_toggle {
  display: none;
  position: absolute;
  padding: 12px;
  right: 8px;
  font-size: 30px;
  color: var(--logo-color)
}

.navbar_back {
  position: fixed;
  width: 100vw;
  height: 100%;
  z-index: 8000;
  top: 0px;
  background-color: white;
  opacity: 0.7;
}

/* 검색어 입력 + 검색 버튼 */
.navbar .search_box {
  width: 230px;
  margin: 10px;
  display: flexbox;
  flex-direction: row;
  align-self: baseline;
  background-color: white;
  border-radius: 6px;
}
/* 검색어 입력 INPUT */
.navbar .search_input {
  width: calc(100% - 58px);
  border: none;
  outline: none;
}
/* 검색 버튼 */
.search_box .search_btn{
  font-size: 30px;
}
.search_box .search_btn:hover{
  cursor: pointer;
}
/* 연관 검색어 */
.navbar .search_items {
  width: calc(100%-20px);
  padding: 10px;
  margin: 0;
  display: none;
  flex-direction: column;
  border: 1px solid var(--main-color1);
  border-radius: 10px;
  background-color: var(--main-color4);
}
.search_items .search_item_focus {
  display: flex;
  font-size: 15px;
  color: white;
  background-color: black;
}
.search_items .search_item {
  display: flex;
  font-size: 15px;
  color: black;
}
/* Active SearchBar */
.search_input:focus ~ .search_items {
  display: flex;
}
.search_items:hover {
  display: flex;
}


/* 반응형 웹 */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .navbar_logo {
    align-items: center;
    padding: 12px 0px;
  }

  .navbar_menu {
    flex-direction: column;
    width: 100%;
  }

  .navbar_menu hr {
    margin: 1px;
    background-color: var(--main-color4);
    border: 0px;
    height: 1px;
  }

  .navbar_toggle {
    display: block;
  }
}