@import "../styles.scss";

.main{
  color: $main-color6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title{
  color: $main-color6;
  font-size: 40px;
  font-weight: 700;
  margin: 50px;
}

.link {
  color: $main-color6;
  text-decoration: underline;
}