.stockDetailHeader {
  font-weight: 600;
}

.stockDetailHeader .symbolArea {
  display: flex;
}

.stockDetailHeader .symbolBox {
  padding: 4px 8px 4px 8px;
  margin: 0 8px 0 0;
  font-size: 1.8rem;
  text-align: center;
  border: 1px solid;
  border-radius: 6px;
  background-color: var(--main-color1);
  color: var(--main-color4);
}

.stockDetailHeader .priceArea {
  display: flex;
  padding: 16px 0;
}

.stockDetailHeader .priceBox {
  font-size: 3.5rem;
  margin: 8px 8px 8px 4px;
}

.stockDetailBody {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid;
  padding: 8px;
  border-radius: 6px;
  font-weight: 600;
}

.stockDetailBody .contentTable {
  width: 300px;
}

.stockDetailBody .contentTableRow {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .stockDetailBody .contentTable {
    width: 100%;
  }
}