$main-color1: #181818;
$main-color2: #202020;
$main-color3: #282c2f;
$main-color3-hover: #8a8d91;
$main-color4: #6e748c;
$main-color5: #45464b;
$main-color6: #e9e9e9;

$sub-color1: #71a78f;
$sub-color2: #E53E7F;
$sub-color3: #225CFE;
$sub-color4: #7163DA;

:root {
  background-color: $main-color1;
}

a {
  text-decoration: none;
}