.registerBox {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.registerBox button  {
  height: 34px;
  margin-top: 8px;
  font-size: 1.6rem;
  color: var(--main-color5);
  background-color: var(--main-color1);
}
.registerBox button:disabled  {
  background-color: var(--main-color3);
}


.validMsg {
  font-size: 1.4rem;
  color: gray;
}

.checkBoxContain{
  display: flex;
  flex-direction: row;
}

.checkBoxContain > input {
  width: 60%;
}

.checkBoxContain > button {
  width: 30%;
  margin-left: 8px;
}